package hello

templ Hello(name string) {
	<html>
	<head>
		<link rel="stylesheet" href="/static/css/tailwind.css" />
	</head>
	<body>
	    <div class="bg-purple-500">Hello, { name }</div>
	</body>
	</html>
}
